/* Variables Globales */
:root{
   --color-fondo:#0f172a;
   --color-texto:#f8fafc;
   --color-acento:#3b82f6;
   --color-secundario:#1e293b;
}

/* Reglas universales */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* reglas globales */
body{
    background-color: var(--color-fondo);
    color: var(--color-texto);
    font-family: system-ui, sans-serif;
    padding: 20px;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--color-secundario);
    padding-bottom: 20px;
}

.content {
    display: grid;
    gap: 60px;
}

.menu__list {
    list-style: none;
    display: flex;
    gap: 20px;
}

.menu__link {
    text-decoration: none;
    color: var(--color-texto);
}

.menu__link:hover {
color: #60a5fa;
}

.projects__container{
    display: flex;
    gap: 20px;
}

.project {
    background-color: var(--color-secundario);
    padding: 20px;
    border-radius: 8px;
    flex: 1;
}

.form{
    display: grid;
    gap: 20px;
}

.form__grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.form__section--wide {
    grid-column: span 2;
}

.form__input {
    width: 100%;
    background-color: var(--color-secundario);
    color: var(--color-texto);
    border: 1px solid #334155;
    padding: 10px;
    border-radius: 4px;
}

.form__label {
    display: block;
    margin-bottom: 8px;
}

.form__submit{
    background-color: var(--color-acento);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
}

.form__submit:hover{
    background-color: #2563eb;
    cursor: pointer;
}

/* dias 6 y 7 responsive design*/

@media (max-width: 768px){
    /* encabezado en mobiles titulo arriba y menu abajo */
    .hero{
        flex-direction: column;
        gap: 15px;
        text-align: center;
    }

    /* 2. Tarjetas de Proyectos: De fila horizontal a columna vertical */
    .projects__container{
        flex-direction: column;
    }

    /* 3. Formulario: De dos columnas a una sola columna */
    .form__grid {
        grid-template-columns: 1fr;
    }

    /* 4. Modificador del Mensaje: Ya no necesita saltarse 2 columnas */

    .form__section--wide{
        grid-column: span 1;
    }
}